* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #58395B;
  --color-dark: #2D253C;
  --color-light: #EADEF1;
  --color-accent: #D59CFA;
  --color-muted: #B0ACB6;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #ffffff;
  color: var(--color-dark);
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: inherit;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
